    {{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
    {{else}}

    {{/each}}
    <h2>Nova Postagem!</h2>
    <hr>
<div class="card">

    <div class="card-body">
        <form action="/admin/posts/new" method="post">
            <label for="titulo" >Título:</label>
                <input type="text" class="form-control" name="titulo" placeholder="Título da postagem">
            <label for="slug ">Slug:</label>
                <input type="text" class="form-control" name="slug" placeholder="slug da postagem">
            <label for="description ">Descrição:</label>
                <input type="text" class="form-control" name="description"  placeholder="Descrição da postagem">
            <label for="content ">Conteúdo:</label>
               <textarea name="content" class="form-control" ></textarea>

            <label for="categories"></label>
            <select name="categories" class="form-control">
                <option value="1" >Selecione a categoria</option>
                {{#each categories}}
                <option value="{{_id}}" >{{nome}}</option>
                {{else}}
                <option value="0">Nenhuma Categoria encontrada </option>
                {{/each}}
            </select>

            <button class="btn btn-success mt-4" type="submit">Criar Postagem</button>
            <button type="reset" class="btn btn-warning mt-4 ml-2">Resetar</button>
        </form>
    </div>
</div>
